<h1 style="text-align:center; margin-top:20px;">Extra</h1>

<div class="admin-page-center" style="
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(300px, 300px));
        gap:20px;
        justify-content:center;
        margin-top:40px;
     ">

    <a href="/SponsorBar" class="admin-card-small"
        style="width:300px; display:flex; justify-content:center; align-items:center; text-decoration:none;">
        Sponsor Bar
    </a>



    <a asp-controller="UsersSuggestion" asp-action="Index" class="admin-card-small" style="
        width:300px;
        display:flex;
        justify-content:center;
        align-items:center;
        text-decoration:none;
">
        User Suggestion
    </a>


    <a asp-controller="SponsorsRequests" asp-action="Index" class="admin-card-small" style="
        width:300px;
        display:flex;
        justify-content:center;
        align-items:center;
        text-decoration:none;
   ">
        Sponsors Requests
    </a>
    <a asp-controller="HowToPlay" asp-action="Index" class="admin-card-small" style="
        width:300px;
        display:flex;
        justify-content:center;
        align-items:center;
        text-decoration:none;
   ">
        How To Play
    </a>
</div>